.product {
	padding: 0 1.8rem;
	overflow-x: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5rem;
	max-width: 51rem;
	margin: 5rem auto;
}

/* Product Content */
.name {
	font-family: 'Prompt', sans-serif;
	font-size: 2.6rem;
	line-height: 2.6rem;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 1.6rem;
}

.tagline {
	font-size: 2.2rem;
	line-height: 2.2rem;
	font-weight: 400;
	margin-bottom: 1.6rem;
}

.note {
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 2.16rem;
	margin-bottom: 1.6rem;
}

.description {
	font-size: 1.6rem;
}

/* Colors */
.color-label {
	margin-top: 2rem;
	display: block;
	font-size: 1.6rem;
	font-weight: 700;
	text-transform: uppercase;
}

.swatches-wrapper {
	display: flex;
	margin-top: 1rem;
	gap: 1.5rem;
	width: 100%;
}

.current-color {
	margin-top: 1rem;
	display: block;
	font-size: 1.6rem;
	font-weight: 500;
}

/* Call Us */
.call {
	font-size: 1.4rem;
	line-height: 1.89rem;
	font-family: 'Montserrat', sand-serif;
	font-weight: 600;
	margin-top: 4rem;
	color: rgb(54, 54, 54);
	display: inline-block;
}

.call span {
	font-style: italic;
}

.call a {
	text-decoration: none;
	color: #cf2e2e;
}

.info-icon {
	width: 1.5rem;
	height: 1.5rem;
	background-color: rgb(128, 128, 128);
	border-radius: 50%;
	position: relative;
	display: inline-block;
	left: 5px;
	top: 1px;
}

.info-icon svg {
	fill: #fff;
	position: absolute;
	top: 49%;
	left: 49%;
	transform: translate(-50%, -50%);
	height: 0.9rem;
}

.info-icon:hover .popup {
	opacity: 1;
}

.popup {
	width: fit-content;
	background: rgb(221, 221, 221);
	position: absolute;
	color: #000;
	padding: 1rem;
	text-align: center;
	border-radius: 0.3rem;
	top: -9rem;
	left: -1.2rem;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s;
}

.popup::after {
	content: '';
	display: inline-block;
	width: 1.5rem;
	height: 1rem;
	background: rgb(221, 221, 221);
	position: absolute;
	bottom: -0.6rem;
	left: calc(10% - 0.5rem);
	clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.popup h2 {
	font-size: 1.4rem;
	font-weight: 700;
	white-space: nowrap;
}

.popup p {
	font-size: 1.2rem;
	font-weight: 400;
}

/* Product Price */
.price {
	font-size: 2.6rem;
	font-weight: 700;
	color: rgb(54, 54, 54);
	margin-top: 2rem;
}

/* Add to cart button */
.button {
	background-color: #cf2e2e;
	color: #fff;
	padding: 1.6rem 4rem;
	border-radius: 30px;
	font-size: 1.6rem;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 1.6rem;
	margin-top: 2rem;
	cursor: pointer;
	border: 2px solid #cf2e2e;
	transition: all 0.3s;
}

/* Estimated Delivery */

.delivery {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-top: 2rem;
}

.truck {
	height: 6rem;
}

.delivery-text {
	font-weight: 700;
	font-size: 1.2rem;
	color: rgb(117, 117, 117);
}

@media (hover: hover) {
	.button:hover {
		background-color: #fff;
		color: #cf2e2e;
	}
}

@media screen and (min-width: 444px) {
	.popup {
		right: -0.9rem;
		left: auto;
	}
	.popup::after {
		left: calc(90% - 0.5rem);
	}
}

@media screen and (min-width: 768px) {
	.wrapper {
		max-width: 72rem;
	}

	.name {
		font-size: 3rem;
	}

	.description {
		font-size: 1.6rem;
	}

	/* Product Price */
	.price {
		font-size: 3rem;
	}
}

@media screen and (min-width: 1024px) {
	.wrapper {
		max-width: 170rem;
		flex-direction: row;
		justify-content: space-between;
		margin: 8rem auto;
	}

	.content {
		width: 100%;
		align-self: flex-start;
		max-width: 50rem;
	}

	/* Product Content */
	.name {
		font-size: 3.6rem;
	}

	.price {
		font-size: 3.6rem;
	}
}
