.label {
	margin-top: 2rem;
	display: block;
	font-size: 1.6rem;
	font-weight: 700;
	text-transform: uppercase;
}

.selector {
	width: 100%;
	font-size: 1.6rem;
	padding: 1rem;
	background: transparent;
	border: 1px solid rgb(204, 204, 204);
	box-shadow: 5px 12px 34px -13px rgba(0, 0, 0, 0.1);
	outline: none;
	font-weight: 600;
	margin-top: 1rem;
	color: #000;
}

.selector:focus {
	box-shadow: 0px 0px 6px 5px #4ab7ff8e;
}
