.dimensions {
	background-color: #f6f6f6;
	padding: 4.8rem 1.5rem;
}

.container {
	max-width: 51rem;
	margin: 0 auto;
}

.heading {
	font-size: 2.6rem;
	line-height: 2.6rem;
	text-transform: uppercase;
}

.map {
	margin-top: 4rem;
	width: 100%;
}

.frame {
	list-style: none;
	font-size: 1.8rem;
	font-weight: 700;
	color: rgb(54, 54, 54);
	white-space: nowrap;
	line-height: 1.8rem;
	margin-bottom: 1.3rem;
	border-bottom: 2px solid #000;
	display: inline-block;
	padding-bottom: 0.3rem;
}

@media screen and (min-width: 768px) {
	.container {
		max-width: 69rem;
	}

	.heading {
		font-size: 3rem;
		line-height: 3rem;
	}
}

@media screen and (min-width: 1024px) {
	.container {
		max-width: 93rem;
	}

	.content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 4rem;
	}

	.heading {
		font-size: 3.6rem;
		line-height: 3.6rem;
	}

	.map {
		max-width: 37rem;
	}
}

@media screen and (min-width: 1400px) {
	.container {
		max-width: 134rem;
	}
	.map {
		max-width: 53rem;
	}
}
