.top-notification-bar {
	height: 3.5rem;
	background-color: #000;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}

.top-notification-bar a {
	text-transform: uppercase;
	color: #fff;
	font-size: 1.4rem;
	text-decoration: none;
	transition: 0.2s;
}

@media (hover: hover) {
	.top-notification-bar a:hover {
		color: #cf2e2e;
	}
}
