.main-navigation {
	align-items: center;
	background-color: #fff;
	box-shadow: 0px -13px 10px 12px #d5d5d5;
	display: flex;
	flex-direction: row;
	height: 5.76rem;
	padding: 0 1.8rem;
	position: relative;
	z-index: 1;
}

.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: relative;
	max-width: 134rem;
	margin: 0 auto;
}

/***********
    Logo 
************/
.logo-link svg {
	width: 11.5rem;
}

.logo-link span {
	display: none;
}

/********************
    Nav Desktop Menu 
*********************/
.desktop-menu {
	display: none;
}

/***********************
    Cart and Menu Icon 
************************/
.cart {
	display: flex;
	gap: 3rem;
	width: 7.3rem;
	justify-content: flex-end;
}

.cart-container {
	position: relative;
}

.animating {
	-webkit-animation: jello-horizontal 0.9s both;
	animation: jello-horizontal 0.9s both;
}

.cart-icon {
	height: 2.3rem;
	width: auto;
}

.cart-total {
	background-color: #c92626;
	color: #fff;
	font-size: 1.1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	position: absolute;
	border-radius: 50%;
	height: 1.6rem;
	width: 1.6rem;
	font-weight: 500;
	top: -0.4rem;
	right: -1rem;
}

.menu-hamburger {
	height: 2rem;
	cursor: pointer;
}

.menu-close {
	height: 1.6rem;
	cursor: pointer;
}

/***********************
    Mobile Menu 
************************/
.mobile-menu {
	position: absolute;
	background-color: #fff;
	width: 100%;
	height: min-content;
	top: 17.9rem;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 69rem;
	list-style: none;
	display: none;
	box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.menu-active {
	display: initial;
}

/* Menu Active Styling */
.sub-menu-active {
	top: 22.3rem;
}

.mobile-menu li {
	font-weight: 600;
	font-size: 1.5rem;
	padding: 1.2rem 0 1.2rem 1rem;
	border-bottom: 1px solid #eee;
}

.mobile-menu li a {
	text-decoration: none;
	color: inherit;
	display: block;
}

.mobile-menu li:nth-of-type(2) {
	display: flex;
	justify-content: space-between;
}

/* Chevron Icon for Mobile Menu */
.mobile-menu li .chevron {
	height: 2rem;
	padding: 0 1rem;
	cursor: pointer;
	transition: 0.3s;
}

.mobile-menu li .chevron[aria-expanded='true'] {
	transform: rotateX(180deg);
}

/* Sub Menu List items */
.mobile-menu .accessories-list {
	display: none;
}

.sub-menu-active .accessories-list {
	background-color: #f4f4f4;
	display: flex;
	padding-left: 3rem;
}

.menu-active .accessories-list a {
	width: 100%;
}

@media screen and (min-width: 768px) {
	.main-navigation {
		padding: 0 4.2rem;
		height: 6.64rem;
	}

	/***********
        Logo 
    ************/
	.logo-link svg {
		width: 15rem;
	}
}

@media screen and (min-width: 1024px) {
	.main-navigation {
		padding: 0 5.12rem;
		height: 7.73rem;
	}

	/***********
    	Logo 
	************/
	.logo-link {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 1.5rem;
		text-decoration: none;
		font-size: 1.32rem;
		font-style: italic;
		color: inherit;
	}

	/********************
    	Desktop Menu 
	*********************/
	.desktop-menu {
		display: initial;
		list-style: none;
		display: flex;
		gap: 3rem;
	}

	.desktop-menu li {
		font-weight: 600;
		font-size: 1.5rem;
		cursor: pointer;
	}

	/* Accessories li */
	.desktop-menu li:nth-of-type(2) {
		display: flex;
		justify-content: space-between;
		gap: 0.8rem;
		align-items: center;
		position: relative;
	}

	/* Red chevron Desktop */
	.desktop-chevron {
		height: 0.9rem;
		position: relative;
		top: 0.1rem;
	}

	/* Drop Down for Accessories */
	.desktop-dropdown {
		position: absolute;
		background-color: #fff;
		bottom: -8.4rem;
		left: -0.7rem;
		width: 22rem;
		display: flex;
		flex-direction: column;
		border: 1px solid #111;
		gap: 2rem;
		padding: 1.2rem 1.5rem 1.2rem;
		visibility: hidden;
	}

	.desktop-dropdown::after {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		top: -0.4rem;
		left: 50%;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 5px solid black;
		transform: translate(-50%, -50%);
	}

	.desktop-menu li:nth-of-type(2):hover .desktop-dropdown {
		visibility: visible;
	}

	.desktop-menu a:hover {
		color: #c92626;
	}

	/* a tags in li's */
	.desktop-menu li a {
		text-decoration: none;
		color: inherit;
		padding: 2rem 0;
	}

	/* Every li but not the second one */
	.desktop-menu li:not(:nth-child(2)):hover {
		color: #cf2e2e;
	}

	/***********************
        Mobile Menu 
    ************************/
	.hamburger-container {
		display: none;
	}
	.menu-active {
		display: none;
	}

	/***********************
    	Cart and Menu Icon 
	************************/
	.menu-close,
	.menu-hamburger {
		display: none;
	}
}

@media screen and (min-width: 1400px) {
	.desktop-menu {
		position: relative;
		right: 5rem;
	}

	.logo-link span {
		display: initial;
	}
}

/* ----------------------------------------------
 * Generated by Animista on 2023-4-26 9:21:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello-horizontal {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	30% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1);
	}
	40% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1);
	}
	50% {
		-webkit-transform: scale3d(1.15, 0.85, 1);
		transform: scale3d(1.15, 0.85, 1);
	}
	65% {
		-webkit-transform: scale3d(0.95, 1.05, 1);
		transform: scale3d(0.95, 1.05, 1);
	}
	75% {
		-webkit-transform: scale3d(1.05, 0.95, 1);
		transform: scale3d(1.05, 0.95, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@keyframes jello-horizontal {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	30% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1);
	}
	40% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1);
	}
	50% {
		-webkit-transform: scale3d(1.15, 0.85, 1);
		transform: scale3d(1.15, 0.85, 1);
	}
	65% {
		-webkit-transform: scale3d(0.95, 1.05, 1);
		transform: scale3d(0.95, 1.05, 1);
	}
	75% {
		-webkit-transform: scale3d(1.05, 0.95, 1);
		transform: scale3d(1.05, 0.95, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
