/* Mobile Cart Product */
.product {
	height: fit-content;
}

/* removes border bottom from last subtotal row */
.product:last-of-type > .subtotal {
	border-bottom: none;
}

/* Even products have different backgrounds */
.product:nth-of-type(even) {
	background-color: #f6f6f6;
}

/* Container with red cross */
.remove-icon {
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	display: flex;
	font-size: 2rem;
	height: 3.6rem;
}

/* Cross Icon */
.cross {
	height: 2rem;
	width: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition: all 0.3s;
	margin-left: 1rem;
	cursor: pointer;
	position: relative;
}

.cross span {
	position: absolute;
	left: 50%;
	top: 54%;
	transform: translate(-50%, -50%);
	font-size: 2.5rem;
	line-height: 0.7888rem;
	color: #c92626;
	font-weight: 700;
	font-family: 'Dongle', sans-serif;
	transition: all 0.3s;
}

@media (hover: hover) {
	.cross:hover {
		background-color: #c92626;
		color: #fff;
	}

	.cross:hover span {
		color: #fff;
	}
}

/* Border seperated rows */
.row {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 1rem;
}

/* Inner containers */
.name,
.frame,
.color,
.price,
.quantity,
.subtotal {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Bold titles, h1's */
.title {
	font-size: 1.2rem;
}

.option {
	font-size: 1.2rem;
	line-height: 1.8rem;
	color: rgb(54, 54, 54);
}

/* Bold class for subtotal price */
.bold {
	font-weight: 700;
}

/* Product name link */
.product-link {
	text-decoration: none;
	color: rgba(54, 54, 54, 1);
	font-size: 1.2rem;
	line-height: 1.8rem;
	font-weight: 600;
}

/* Delivery estimate */
.estimate {
	font-size: 1.2rem;
	font-weight: 400;
	color: rgb(117, 117, 117);
	padding: 0.8rem 0;
}

/* Input */
.quantity-input {
	border: 1px solid rgba(0, 0, 0, 0.4);
	padding: 0.25rem 0 0.25rem 0.25rem;
	width: 4rem;
	font-size: 1.6rem;
	font-weight: 500;
	font-family: inherit;
	border-radius: 3px;
}
