.mobile-cart {
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: 5rem;
}

.update-cart {
	padding: 1rem 1rem;
	background-color: #f6f6f6;
}
.coupon {
	display: flex;
	justify-content: flex-start;
	gap: 2.5rem;
}

.coupon input {
	padding: 0.5rem;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.2);
	/* Font Size 16px otherwise zooms on mobile devices */
	font-size: 1.6rem;
	max-width: 14.4rem;
}

:-moz-placeholder,
:-ms-input-placeholder,
::-webkit-input-placeholder {
	color: #000;
}

.coupon button {
	background-color: rgb(235, 233, 235);
	color: rgb(81, 81, 81);
	cursor: pointer;
	font-weight: 700;
	padding: 0.8rem 1rem;
	border-radius: 5px;
	width: 100%;
	font-size: 1.2rem;
	max-width: 14.4rem;
	transition: all 0.3s;
}

.update-button {
	background-color: rgb(235, 233, 235);
	color: rgb(81, 81, 81);
	cursor: pointer;
	font-weight: 700;
	padding: 0.8rem 1rem;
	border-radius: 5px;
	width: 100%;
	font-size: 1.2rem;
	margin-top: 1rem;
	transition: all 0.3s;
}

.update-button:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

.update-button:disabled:hover {
	background-color: rgb(235, 233, 235);
}

@media (hover: hover) {
	.coupon-button:hover,
	.update-button:hover {
		background-color: rgb(209, 209, 209);
	}
}

@media (hover: hover) {
	.coupon button:hover,
	.update-button:hover {
		background-color: rgb(209, 209, 209);
	}
}

@media screen and (min-width: 768px) {
	.mobile-cart {
		display: none;
	}
}
