/*************
    Cart 
**************/
.cart-container {
	padding: 0 1.8rem;
	margin-top: 6rem;
	position: relative;
}

.cart-heading {
	text-align: center;
	font-size: 3rem;
	font-family: 'Prompt', sans-serif;
	font-weight: 600;
	line-height: 3rem;
}

/* EMPTY STATE */
.cart-empty-state {
	border-top: 3px solid rgb(30, 133, 190);
	background-color: rgb(247, 246, 247);
	padding: 1.8rem 2.4rem;
	display: flex;
	align-items: center;
	gap: 1.5rem;
	margin-top: 4.3rem;
}

.cart-empty-state__icon {
	height: 2rem;
	width: 2rem;
	border-bottom: 2px solid rgb(30, 133, 190);
	border-left: 2px solid rgb(30, 133, 190);
	border-right: 2px solid rgb(30, 133, 190);
	border-top: 5px solid rgb(30, 133, 190);
	flex-shrink: 0;
}

.cart-empty-state p {
	font-size: 1.8rem;
	font-weight: 500;
	line-height: 2.4rem;
	color: rgb(81, 81, 81);
	white-space: nowrap;
}

/* Background Logo */
.bg-logo {
	margin-top: 7rem;
}

/* Return Home Button */
.cart-return-home-link {
	background-color: #c92626;
	color: #fff;
	text-decoration: none;
	padding: 1.2rem 3.5rem;
	width: fit-content;
	display: block;
	border-radius: 3rem;
	font-size: 1.6rem;
	font-weight: 600;
	border: 2px solid #c92626;
	transition: all 0.3s;
	margin: 11rem auto 0;
}

@media (hover: hover) {
	.cart-return-home-link:hover {
		background-color: #fff;
		color: #c92626;
	}
}

/* SHIPPING INFORMATION ACCORDIAN */
.accordian-wrapper {
	margin: 10rem 0 5rem;
}

.shipping-accordian {
	background-color: rgb(247, 246, 247);
	padding: 1.5rem;
}

.shipping-accordian-header {
	display: flex;
	align-items: center;
	gap: 1.5rem;
	cursor: pointer;
}

.accordian-chevron {
	height: 1.3rem;
	transform: rotate(-90deg);
	transition: all 0.3s;
}

.accordian-chevron.active {
	transform: rotate(0);
}

.accordian-title {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.6rem;
}

/* content */
.accordian-body {
	background-color: rgb(247, 246, 247);
	width: 100%;
	flex: 1 1 auto;
	min-height: 1px;
	padding: 15px;
}

.accordian-body h1 {
	margin-top: 1rem;
	font-size: 1.6rem;
}

.accordian-body p {
	margin-top: 0.5rem;
	font-size: 1.6rem;
	line-height: 2.16rem;
	color: rgb(51, 51, 51);
}
.accordian-collapse {
	position: relative;
	width: 100%;
	height: 0;
	overflow: hidden;
	transition: height 0.35s ease;
}

.accordian-collapse.show {
	height: auto;
}

@media screen and (min-width: 768px) {
	.cart-heading {
		font-size: 3.6rem;
	}

	/* Background Logo */
	.bg-logo {
		margin: 7rem auto 0;
		max-width: 65rem;
	}

	.cart-return-home-link {
		margin: 3rem auto 0;
	}

	/* Accordian */
	.accordian-wrapper {
		margin: 8rem auto 5rem;
	}
}

@media screen and (min-width: 1024px) {
	.cart-container {
		margin-top: 8rem;
	}
	.cart-heading {
		font-size: 6.4rem;
		line-height: 6.4rem;
	}

	/* Accordian */
	.accordian-wrapper {
		margin: 8rem auto;
	}
}

@media screen and (min-width: 1400px) {
	.cart-container {
		max-width: 134rem;
		margin: 8rem auto 0;
	}

	/* Accordian */
	.accordian-wrapper {
		max-width: 60vw;
		margin: 8rem 0;
	}
}

/*******************
	Mobile Cart Active 
********************/
.mobile-cart-active {
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: 5rem;
}

/* UPDATE CART CONTAINER */
.update-cart-container {
	padding: 1rem 1rem;
	background-color: #f6f6f6;
}

.coupon-container {
	display: flex;
	justify-content: flex-start;
	gap: 2.5rem;
}

.coupon-container input {
	padding: 0.5rem;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.2);
	font-size: 1.2rem;
	max-width: 14.4rem;
}

:-moz-placeholder,
:-ms-input-placeholder,
::-webkit-input-placeholder {
	color: #000;
}

.coupon-button {
	background-color: rgb(235, 233, 235);
	color: rgb(81, 81, 81);
	cursor: pointer;
	font-weight: 700;
	padding: 0.8rem 1rem;
	border-radius: 5px;
	width: 100%;
	font-size: 1.2rem;
	max-width: 14.4rem;
}

.update-cart-button {
	background-color: rgb(235, 233, 235);
	color: rgb(81, 81, 81);
	cursor: pointer;
	font-weight: 700;
	padding: 0.8rem 1rem;
	border-radius: 5px;
	width: 100%;
	font-size: 1.2rem;
	margin-top: 1rem;
	transition: all 0.3s;
}

.update-cart-button:disabled {
	opacity: 0.6;
}

@media (hover: hover) {
	.coupon-button:hover,
	.update-cart-button:hover {
		background-color: rgb(209, 209, 209);
	}
}

@media screen and (min-width: 768px) {
	.mobile-cart-active {
		display: none;
	}
}

/*******************
	Desktop Cart Active 
********************/
.desktop-cart-active {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	display: none;
	margin-top: 5rem;
}

/* TOP ROW AND MIDDLE PRODUCT ROW */
.desktop-product-titles,
.desktop-cart-product {
	display: grid;
	grid-template-columns: 30% 30% 15% 15% 10%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 1rem 0;
	align-items: center;
}

/* TOP ROW TEXT */
.desktop-product-title {
	color: rgb(54, 54, 54);
	font-size: 1.2rem;
	font-weight: 700;
}

/* BIKE IMG CONTAINER */
.desktop-bike-img-container {
	display: flex;
	align-items: center;
	gap: 3rem;
}

.desktop-bike-img-container img {
	width: 100%;
	margin-right: 2rem;
	max-width: 18rem;
}

/* BIKE NAME */
.desktop-product-name {
	text-decoration: none;
	color: inherit;
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
	display: inline-block;
}

/* ESTIMATED DELIVERY DATE */
.desktop-estimated-delivery-time {
	font-size: 1.2rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
	color: rgb(117, 117, 117);
}

/* FRAME AND COLOR TITLES */
.desktop-frame,
.desktop-color {
	font-weight: 400;
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}

.desktop-frame span,
.desktop-color span {
	font-weight: 700;
}

/* PRICE TEXT */
.desktop-product-price-container p {
	font-size: 1.2rem;
}

/* INPUT TEXT */
.desktop-product-quantity-container input {
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	padding: 0.5rem;
	width: 5rem;
	font-size: 1.2rem;
}

/* SUBTOTAL TEXT */
.desktop-product-subtotal-container {
	font-size: 1.2rem;
	font-weight: 600;
}

/* Desktop update cart */
.desktop-update-cart-container {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}

/* COUPON CONTAINER */
.desktop-coupon-container {
	display: flex;
	gap: 1rem;
}

.desktop-coupon-container input {
	border: 1px solid rgba(0, 0, 0, 0.4);
	font-size: 1.2rem;
	padding-left: 0.5rem;
}

/* BUTTONS */
.desktop-coupon-button,
.desktop-update-cart-button {
	background-color: rgb(235, 233, 235);
	color: rgb(81, 81, 81);
	cursor: pointer;
	font-weight: 700;
	padding: 0.8rem 1rem;
	border-radius: 5px;
	width: 100%;
	font-size: 1.2rem;
	max-width: 14.4rem;
	transition: all 0.3s;
}

@media (hover: hover) {
	.desktop-coupon-button:hover,
	.desktop-update-cart-button:hover {
		background-color: rgb(209, 209, 209);
	}
}

@media screen and (min-width: 768px) {
	.desktop-cart-active {
		display: grid;
	}
}
