/*******************
    HERO SECTION 
********************/
.home-hero {
	background: url(../../assets/Home/Turris-Hero-min-scaled.jpg) no-repeat 70% / cover;
	min-height: 69vh;
	padding: 1.875rem;
}

.home-hero__container {
	width: 100%;
}

.home-hero__content h1 {
	color: #fff;
	font-weight: 400;
	font-size: 3.2rem;
}

.home-hero__content span {
	font-size: 7rem;
	font-weight: 800;
}

.home-hero__button {
	background-color: #fff;
	border-radius: 3rem;
	color: #000;
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 800;
	line-height: 1.66;
	margin-top: 3rem;
	padding: 1.15rem 3.1rem;
	text-decoration: none;
	text-transform: uppercase;
}

@media screen and (min-width: 768px) {
	.home-hero {
		padding: 3.87rem;
	}

	.home-hero__content h1 {
		font-size: 3.6rem;
	}

	.home-hero__content span {
		font-size: 14rem;
	}
}

@media screen and (min-width: 1024px) {
	.home-hero {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		min-height: 80vh;
	}
}

/***********************
    Featured In Section
************************/
.featured-in {
	height: 53rem;
	background-color: #000;
	padding: 5rem 1.875rem;
}

.featured-in h1 {
	color: #fff;
	text-align: center;
	font-size: 1.8rem;
	font-weight: 500;
}

/* Icons Grid */
.featured-in .featured-in__icons-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
	column-gap: 3.2rem;
	row-gap: 2rem;
	margin: 7rem auto;
	max-width: 51rem;
}

.featured-in .featured-in__icons-grid a {
	display: flex;
	justify-content: center;
}

/* Video */
.featured-in__video-container {
	position: relative;
	height: 10rem;
	max-width: 131rem;
	margin: 0 auto;
	margin-top: 18.5rem;
}

.featured-in .featured-in__video {
	position: absolute;
	width: 100%;
	left: 50%;
	top: 60%;
	transform: translate(-50%, -50%);
	border: none;
	width: 100%;
	max-width: 51rem;
	height: 40rem;
}

@media screen and (min-width: 768px) {
	.featured-in {
		height: 62.2rem;
	}
	.featured-in .featured-in__icons-grid {
		max-width: 69rem;
		justify-content: center;
	}

	.featured-in .featured-in__video {
		max-width: 69rem;
		top: 100%;
	}
}

@media screen and (min-width: 1024px) {
	.featured-in {
		height: 79.3rem;
	}
	.featured-in .featured-in__icons-grid {
		grid-template-columns: repeat(4, 1fr);
		max-width: 93rem;
	}

	.featured-in .featured-in__video {
		max-width: 93rem;
		top: 210%;
		height: 72rem;
	}
}

@media screen and (min-width: 1400px) {
	.featured-in {
		height: 93rem;
	}

	.featured-in .featured-in__icons-grid {
		max-width: 128rem;
	}

	.featured-in .featured-in__video {
		max-width: 128rem;
		top: 280%;
	}
}

/***********************
    Shop Bikes Section
************************/
.shop-bikes {
	max-width: 72rem;
	margin: 20rem auto 0;
	padding: 0 1.5rem;
}

/* HEADER */
.shop-bikes .shop-bikes__header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 2rem;
}

.shop-bikes .shop-bikes__header svg {
	height: 7.8rem;
	width: auto;
	flex-shrink: 0;
}

.shop-bikes .shop-bikes__header h1 {
	font-size: 2rem;
	line-height: 2rem;
}

.shop-bikes__container {
	display: grid;
	row-gap: 2rem;
}

/* COMPONENT */
.bike {
	background-color: #f9f9f9;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

/* Sale Badge */
.bike .bike__sale-badge {
	background-color: #c92626;
	color: #fff;
	text-transform: uppercase;
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.3rem;
	font-weight: 700;
	position: absolute;
	top: -1.8rem;
	right: -1rem;
	display: none;
}

.bike.onSale .bike__sale-badge {
	display: flex;
}

.bike .bike__header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	padding: 3rem 2rem 0;
}

/* Adds more padding to header top when bike is on sale */
.bike.onSale .bike__header {
	padding: 5.5rem 2rem 0;
}

.shop-bikes__container {
	margin-top: 3rem;
}

/* BIKE NAME AND BUTTONS */
.bike__heading-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.bike__heading-container h1 {
	font-weight: 600;
	font-size: 2.2rem;
	line-height: 2.2rem;
}

.bike__button-container {
	display: flex;
	gap: 1rem;
}

.bike__button-container button {
	text-transform: uppercase;
	color: #444;
	background-color: rgb(241, 241, 241);
	border-radius: 5px;
	padding: 0.8rem 0.9rem;
	font-weight: 600;
	font-family: inherit;
	font-size: 1.2rem;
}

@media (hover: hover) {
	.bike__button-container button {
		cursor: pointer;
	}
}

.bike__button-container button:hover,
.bike__button-container button.active {
	outline: none;
	box-shadow: 0 0 0 2px #c92626;
	border-radius: 5px;
}

/* BIKE PRICE AND AVAILABILITY */
.bike__price-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 1rem;
	position: relative;
}

/* Original Pre Sale Price  */
.bike .bike__price-container .original-price {
	display: none;
}

.bike.onSale .bike__price-container .original-price {
	position: absolute;
	top: -2.5rem;
	color: rgb(143, 143, 143);
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 1.6rem;
	text-decoration: line-through;
	display: none;
}

.bike.onSale .bike__price-container .original-price.active {
	display: initial;
}

/* Current Price */
.bike__price-container .price {
	font-size: 2.2rem;
	line-height: 2.2rem;
	font-weight: 800;
}

.bike.onSale .bike__price-container .price.active {
	text-decoration: underline;
}

.bike__price-container .in-stock {
	font-size: 1.2rem;
	line-height: 1.2rem;
	font-weight: 600;
}

/* BIKE IMAGE CONTAINER */
.bike__image-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 2rem;
}
.bike__image-container img {
	mix-blend-mode: darken;
}

/* swatches */
.color-swatches-container {
	display: flex;
	gap: 1rem;
}

.color-swatches-container span.active {
	outline: none;
	box-shadow: 0 0 0 2px #c92626;
	border-radius: 50%;
}

.color-swatches-container span img {
	padding: 0.2rem;
	border-radius: 50%;
}

@media (hover: hover) {
	.color-swatches-container span {
		cursor: pointer;
	}
}

/* SELECT FRAME BUTTON */
.bike .button {
	text-decoration: none;
	color: #fff;
	background-color: #c92626;
	width: 100%;
	font-family: inherit;
	font-size: 1.6rem;
	font-weight: 600;
	text-transform: uppercase;
	padding: 1.3rem 2rem;
	display: flex;
	justify-content: center;
	margin-top: 1.5rem;
	transition: 0.3s;
}

@media (hover: hover) {
	.bike .button:hover {
		background-color: transparent;
		box-shadow: 0 0 0 2px #c92626;
		color: #c92626;
	}
}

@media screen and (min-width: 768px) {
	/* MAIN HEADER */
	.shop-bikes .shop-bikes__header h1 {
		font-size: 2.6rem;
	}

	.shop-bikes__container {
		display: grid;
		grid-gap: 2rem;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 1024px) {
	/* SECTION */
	.shop-bikes {
		max-width: 96rem;
	}

	/* MAIN HEADER */
	.shop-bikes .shop-bikes__header h1 {
		font-size: 3.6rem;
		line-height: 3.6rem;
	}

	/* BIKE NAME AND BUTTONS */
	.bike__heading-container h1 {
		font-size: 3.6rem;
		line-height: 3.6rem;
	}

	/* BIKE PRICE AND AVAILABILITY */
	.bike__price-container .price {
		font-size: 3.6rem;
		line-height: 3.6rem;
		font-weight: 400;
	}

	.bike.onSale .bike__price-container .price.active {
		font-weight: 800;
	}

	.bike__price-container .in-stock {
		margin-right: 0.5rem;
	}
}

@media screen and (min-width: 1400px) {
	/* SECTION */
	.shop-bikes {
		max-width: 134rem;
	}

	/* Original Pre Sale Price  */
	.bike.onSale .bike__price-container .original-price {
		position: absolute;
		top: 1.5rem;
		left: -8.5rem;
		color: rgb(143, 143, 143);
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 1.6rem;
		text-decoration: line-through;
		display: none;
	}

	/* Current Price */
	.bike.onSale .bike__price-container .price.active {
		font-size: 3.6rem;
		line-height: 3.6rem;
		font-weight: 800;
		text-decoration: underline;
	}
}

/**************************
    Performance Section
***************************/
.performance {
	margin: 14rem auto 0;
	padding: 0 1.5rem;
	max-width: 72rem;
}

/* Header */
.performance-header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 2rem;
}

.performance-header__icon {
	height: 7.8rem;
	width: auto;
	flex-shrink: 0;
}

.performance-header__title {
	font-size: 2.6rem;
	line-height: 2.6rem;
	font-weight: 700;
}

/* Bike Image Container */
.performance-image-container {
	margin: 4rem auto;
	position: relative;
}

/* BUTTONS ON THE BIKE */
@media (any-hover: none) {
	.performance-image-button {
		display: none;
	}
}

.performance-image-button {
	display: none;
}

/* Performance features */
.performance__features {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-top: 5rem;
	max-width: 111rem;
}

/* Feature */
.performance-feature {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	gap: 1.1rem;
	padding: 1rem;
}

/* Icon sizing */
.performance-feature__icon {
	height: 3.6rem;
	width: auto;
}

.performance-feature-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.1rem;
}

.performance-feature__title {
	font-size: 1.3rem;
	line-height: 1.3rem;
	text-align: center;
}

.performance-feature__label {
	color: #c92626;
	font-size: 1.6rem;
	line-height: 1.6rem;
}

/* Separation borders for the middle performance feature */
.performance-feature:nth-of-type(2) {
	border-left: 2px solid #ebebeb;
	border-right: 2px solid #ebebeb;
}

/* Fine Print */
.performance-fine-print {
	color: #aaa;
	font-size: 1.4rem;
	line-height: 1.89rem;
	text-align: center;
	margin-top: 3rem;
}

@media screen and (min-width: 768px) {
	.performance-header__title {
		font-size: 3rem;
	}

	/*********************************
	 Those little buttons on the bike
	***********************************/
	@media (hover: hover) {
		.performance-image-button {
			display: initial;
		}
	}

	/* SPECIFIC BUTTONS */
	.performance-image-button {
		height: 3.5rem;
		width: 3.5rem;
		background-color: rgba(147, 147, 147, 0.335);
		border-radius: 50%;
		position: absolute;
	}

	/* POSITIONING OF THE BUTTONS */
	.performance-image-button.display {
		top: 4%;
		right: 32%;
	}
	.performance-image-button.safety {
		top: 7.5%;
		right: 26%;
	}
	.performance-image-button.fenders {
		top: 35%;
		right: 16%;
	}
	.performance-image-button.suspension {
		top: 34%;
		right: 26%;
	}
	.performance-image-button.battery {
		top: 45%;
		right: 46%;
	}
	.performance-image-button.comfort {
		top: 19%;
		right: 63.5%;
	}
	.performance-image-button.lights {
		top: 34%;
		left: 8%;
	}
	.performance-image-button.speed {
		bottom: 26%;
		right: 52.3%;
	}
	.performance-image-button.power {
		bottom: 32.5%;
		left: 19.7%;
	}
	.performance-image-button.traction {
		bottom: 35%;
		left: 2%;
	}

	/* INNER WHITE CONTAINER */
	.performance-image-button .inner {
		height: 2rem;
		width: 2rem;
		background-color: #fff;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	/* INNER CIRCLE COLORS */
	.performance-image-button > .inner > div {
		border-radius: 50%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 0.7rem;
		width: 0.7rem;
	}

	#display {
		background-color: #ed1c24;
	}

	#safety {
		background-color: #ff8531;
	}
	#fenders {
		background-color: #03a4ea;
	}

	#suspension {
		background-color: #4fd332;
	}
	#battery {
		background-color: #8d0e1c;
	}

	#comfort {
		background-color: #6f94c6;
	}
	#lights {
		background-color: #306cd2;
	}

	#speed {
		background-color: #ff8531;
	}
	#power {
		background-color: #cdcdd3;
	}
	#traction {
		background-color: #ffce2d;
	}

	/* CONTENT DISPLAY */
	.performance-image-button__content {
		z-index: 10;
	}

	/* CONTENT CONTAINERS */
	.performance-image-button__content {
		position: absolute;
		height: min-content;
		width: 32rem;
		background-color: #fff;
		border: 2px solid #cccccc;
		border-radius: 5px;
		padding: 2.5rem;
		opacity: 0;
		transition: 0.3s;
		pointer-events: none;
		transform: translate(-50%, -50%);
	}

	.performance-image-button__content.display {
		top: 350%;
		left: 50%;
	}

	.performance-image-button__content.safety {
		top: 350%;
		left: 50%;
	}
	.performance-image-button__content.fenders {
		top: 350%;
		left: 50%;
	}

	.performance-image-button__content.suspension {
		top: 350%;
		left: 50%;
	}
	.performance-image-button__content.battery {
		top: 350%;
		left: 50%;
	}

	.performance-image-button__content.comfort {
		top: 350%;
		left: 50%;
	}
	.performance-image-button__content.lights {
		top: 350%;
		left: 50%;
	}

	.performance-image-button__content.speed {
		top: 350%;
		left: 50%;
	}
	.performance-image-button__content.power {
		top: 350%;
		left: 50%;
	}

	.performance-image-button__content.traction {
		top: 350%;
		left: 50%;
	}

	/* CONTAINERS HOVER STATE */
	.performance-image-button.display:hover .performance-image-button__content.display,
	.performance-image-button.safety:hover .performance-image-button__content.safety,
	.performance-image-button.fenders:hover .performance-image-button__content.fenders,
	.performance-image-button.suspension:hover .performance-image-button__content.suspension,
	.performance-image-button.battery:hover .performance-image-button__content.battery,
	.performance-image-button.comfort:hover .performance-image-button__content.comfort,
	.performance-image-button.lights:hover .performance-image-button__content.lights,
	.performance-image-button.speed:hover .performance-image-button__content.speed,
	.performance-image-button.power:hover .performance-image-button__content.power,
	.performance-image-button.traction:hover .performance-image-button__content.traction {
		opacity: 1;
	}

	/* CONTENT HEADINGS */
	.performance-image-button__content h2 {
		padding-left: 2rem;
		font-size: 2.8rem;
		line-height: 2.8rem;
		text-transform: uppercase;
		color: #5b5b5b;
		font-family: 'Prompt';
		font-weight: 500;
	}
	.performance-image-button__content.display h2 {
		border-left: 4px solid #ed1c24;
	}

	.performance-image-button__content.safety h2 {
		border-left: 4px solid #ff8531;
	}
	.performance-image-button__content.fenders h2 {
		border-left: 4px solid #03a4ea;
	}
	.performance-image-button__content.suspension h2 {
		border-left: 4px solid #4fd332;
	}
	.performance-image-button__content.battery h2 {
		border-left: 4px solid #8d0e1c;
	}
	.performance-image-button__content.comfort h2 {
		border-left: 4px solid #6f94c6;
	}
	.performance-image-button__content.lights h2 {
		border-left: 4px solid #306cd2;
	}
	.performance-image-button__content.speed h2 {
		border-left: 4px solid #ff8531;
	}
	.performance-image-button__content.power h2 {
		border-left: 4px solid #cdcdd3;
	}
	.performance-image-button__content.traction h2 {
		border-left: 4px solid #ffce2d;
	}

	/* CONTENT DESCRIPTION */
	.performance-image-button__content p {
		font-size: 1.6rem;
		line-height: 2rem;
		margin-top: 1rem;
	}
}

@media screen and (min-width: 1024px) {
	.performance {
		max-width: 96rem;
	}

	.performance-image-container {
		max-width: 111rem;
	}

	.performance-header__title {
		font-size: 3.6rem;
	}

	/* Icon sizing */
	.performance-feature__icon {
		height: 6rem;
		width: auto;
	}

	.performance-feature__title {
		font-size: 1.3rem;
		line-height: 1.3rem;
		text-align: center;
	}

	.performance-feature__label {
		color: #c92626;
		font-size: 1.6rem;
		line-height: 1.6rem;
	}
}

@media screen and (min-width: 1400px) {
	.performance {
		max-width: 134rem;
	}

	.performance__features {
		max-width: 111rem;
		margin: 5rem auto 0;
	}

	.performance-feature {
		flex-direction: row;
		max-width: fit-content;
		padding: 1rem 6rem;
		gap: 2rem;
	}

	.performance-feature-info {
		align-items: flex-start;
	}

	.performance-feature__title {
		font-size: 2.4rem;
		line-height: 2.4rem;
		white-space: nowrap;
	}

	/* BIKE IMAGE */
	/* POSITIONING OF THE BUTTONS */
	.performance-image-button.speed {
		bottom: 27.5%;
		right: 53.2%;
	}
}

/***********************
    FAQ Accordian
************************/
.faq-accordian {
	padding: 0 1.8rem;
	margin: 10rem auto;
	max-width: 69rem;
	height: fit-content;
}

/* Main Button */
.faq-accordian-button {
	font-size: 2.6rem;
	font-weight: 600;
	line-height: 2.6rem;
	cursor: pointer;
	border-bottom: 1px solid #000;
	color: #000;
	padding: 2rem 0;
	width: 100%;
	text-align: left;
	font-family: 'Prompt', sans-serif;
	display: flex;
	justify-content: space-between;
}

/* Plus and Minus icon */
.faq-accordian-button svg {
	height: 2rem;
	position: relative;
	top: 0.5rem;
	right: 0.5rem;
}

/* Faq's container */
.faq-container {
	max-height: 0;
	overflow: hidden;
	transition: all 1s cubic-bezier(0, 1, 0, 1);
}

.faq-container.active {
	max-height: 9999px;
	transition: all 1s cubic-bezier(0, 1, 0, 1);
}

/* Faq item */
.faq-accordian-card {
	border-bottom: 1px solid #000;
	padding: 1.5rem;
	overflow: hidden;
}

.faq-accordian-toggle {
	cursor: pointer;
}

.faq-accordian__title {
	font-weight: 400;
	font-size: 1.8rem;
}

.faq-accordian-toggle.active .faq-accordian__title {
	font-weight: 800;
}

.faq-accordian__collapse {
	position: relative;
	height: 0;
	overflow: hidden;
	transition: height 0.35s ease;
}

.faq-accordian__collapse.show {
	height: auto;
}

/* Text */
.faq-accordian__body {
	min-height: 1px;
}
.faq-accordian__body p {
	margin-top: 2rem;
	line-height: 2.16rem;
	font-size: 1.6rem;
	margin-bottom: 0;
}

.faq-accordian__collapse .bold {
	font-weight: 800;
	font-style: italic;
	color: rgb(54, 54, 54);
}

@media screen and (min-width: 768px) {
	.faq-accordian-button {
		font-size: 3.6rem;
		line-height: 3.6rem;
	}
}

@media screen and (min-width: 1024px) {
	.faq-accordian {
		max-width: 96rem;
	}
}
@media screen and (min-width: 1400px) {
	.faq-accordian {
		max-width: 131rem;
	}
}

/***********************
    Bikes Gallery
************************/
.bikes-gallery {
	overflow-x: hidden;
	position: relative;
	top: 5px;
}

.bikes-gallery-header {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 2rem;
	padding: 0 1.8rem;
	max-width: 69rem;
}

.bikes-gallery-header h2 {
	display: flex;
	flex-direction: column;
}

.bikes-gallery-header span:nth-of-type(1) {
	color: #c92626;
	font-weight: 700;
	font-size: 2.6rem;
	font-family: 'Prompt', sans-serif;
	line-height: 2.6rem;
}

.bikes-gallery-header span:nth-of-type(2) {
	font-weight: 600;
	font-size: 2.6rem;
	font-family: 'Prompt', sans-serif;
}

.bikes-gallery-header .view-gallery-button {
	color: rgb(54, 54, 54);
	text-decoration: none;
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 1.4rem;
	padding: 1rem 3rem;
	border: 2px solid rgb(54, 54, 54);
	border-radius: 30px;
	transition: all 0.3s ease;
}

@media (hover: hover) {
	.bikes-gallery-header .view-gallery-button:hover {
		color: #c92626;
		border: 2px solid #c92626;
	}
}

@media screen and (min-width: 768px) {
	.bikes-gallery-header {
		margin-bottom: 5rem;
	}
	.bikes-gallery-header h2 {
		gap: 1rem;
		flex-direction: row;
	}
	.bikes-gallery-header span:nth-of-type(1) {
		font-size: 2.8rem;
		line-height: 2.8rem;
	}

	.bikes-gallery-header span:nth-of-type(2) {
		font-size: 2.8rem;
		line-height: 2.8rem;
	}

	.bikes-gallery-header .view-gallery-button {
		color: rgb(54, 54, 54);
		text-decoration: none;
		font-weight: 600;
		line-height: 1.6rem;
		padding: 1.2rem 3rem;
		font-size: 1.6rem;
	}
}

@media screen and (min-width: 1024px) {
	.bikes-gallery-header {
		max-width: 96rem;
	}

	.bikes-gallery-header span:nth-of-type(1) {
		font-size: 3.6rem;
		line-height: 3.6rem;
	}

	.bikes-gallery-header span:nth-of-type(2) {
		font-size: 3.6rem;
		line-height: 3.6rem;
	}
}

@media screen and (min-width: 1400px) {
	.bikes-gallery-header {
		max-width: 131rem;
	}
}
