.hero {
	background-image: url(../../assets/AboutUs/DSC08170-min.jpg);
	background-size: cover;
	background-position: center;
	min-height: 60vh;
	padding: 4rem 0 0 1.1rem;
}

.container {
	max-width: 118rem;
	margin: 0 auto;
}

.heading {
	font-size: 4rem;
	line-height: 4rem;
	color: #fff;
	font-weight: 500;
}

.tagline {
	margin-top: 1rem;
	font-size: 3.2rem;
	color: #fff;
	line-height: 3.2rem;
}

@media screen and (min-width: 768px) {
	.hero {
		padding: 4rem 0 0 2rem;
	}

	.heading {
		font-size: 7rem;
		line-height: 7rem;
	}

	.tagline {
		font-size: 3.6rem;
		line-height: 3.6rem;
	}
}

@media screen and (min-width: 1024px) {
	.hero {
		padding: 5rem 0 0 3rem;
	}
}
