.banner {
	padding: 0 1.8rem;
	height: 0px;
	position: relative;
	width: 100%;
	overflow: hidden;
	transition: height 0.3s ease;
}

.banner-active {
	padding: 0 1.8rem;
	height: auto;
	position: relative;
	width: 100%;
	overflow: hidden;
	transition: height 0.3s ease;
}

.banner-container {
	background-color: #f6f6f6;
	width: 100%;
	margin: 0 auto;
	max-width: 134rem;
	padding: 1.8rem 3rem;
	display: flex;
	align-items: flex-start;
	gap: 0.6rem;
	border-top: 4px solid #4bae4f;
}

.checkmark {
	height: 2rem;
	width: 2rem;
	position: relative;
	right: 10px;
}

.message {
	font-size: 1.8rem;
	font-weight: 500;
	line-height: 2.4rem;
	color: rgb(81, 81, 81);
}

.link {
	display: block;
	color: rgb(81, 81, 81);
	text-decoration: none;
	white-space: nowrap;
	font-size: 1.8rem;
	font-weight: 700;
	background-color: rgb(235, 233, 235);
	padding: 1.1rem 1.6rem;
	border-radius: 5px;
	line-height: 1.8rem;
	margin-left: auto;
	transition: all 0.3s;
}

.link:hover {
	background-color: rgb(220, 220, 220);
}

@media screen and (min-width: 768px) {
	.banner {
		padding: 0 4.2rem;
	}
}

@media screen and (min-width: 1024px) {
	.banner {
		padding: 0 4.8rem;
	}
}
