/****************** 
      RESET
******************/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: #edf3f8;
    width: 100%;
    min-height: 100vh;
    position: relative;
    transition: 0.3s;
    overflow-x: hidden;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 111rem;
    margin: 0 auto;
}
